[submodule "libarea"]
	path = libarea
	url = git@github.com:kaben/libarea.git
[submodule "opencamlib"]
	path = opencamlib
	url = git@github.com:kaben/opencamlib.git
[submodule "oce"]
	path = oce
	url = git@github.com:kaben/oce.git
